<?xml version="1.0" encoding="UTF-8"?>
<web-app> 
  <servlet> 
    <servlet-name>StatsSingletonServlet</servlet-name> 
    <servlet-class>ec.stats.StatsSingletonServlet</servlet-class>
  </servlet>
  <servlet-mapping> 
    <servlet-name>StatsSingletonServlet</servlet-name> 
    <url-pattern>/stats-web/add-data</url-pattern> 
  </servlet-mapping>
  <servlet> 
    <servlet-name>StatsStatefulServlet</servlet-name> 
    <servlet-class>ec.stats.StatsStatefulServlet</servlet-class>
  </servlet>
  <servlet-mapping> 
    <servlet-name>StatsStatefulServlet</servlet-name> 
    <url-pattern>/stats-web/get</url-pattern> 
  </servlet-mapping>
  <servlet> 
    <servlet-name>StatsStatelessServlet</servlet-name> 
    <servlet-class>ec.stats.StatsStatelessServlet</servlet-class>
  </servlet>
  <servlet-mapping> 
    <servlet-name>StatsStatelessServlet</servlet-name> 
    <url-pattern>/stats-web/insert-data</url-pattern> 
  </servlet-mapping>
</web-app>