<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-aop/4.3.14.RELEASE/spring-aop-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/apache/taglibs/taglibs-standard-spec/1.2.6-RC1/taglibs-standard-spec-1.2.6-RC1.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/jboss/spec/javax/servlet/jsp/jboss-jsp-api_2.3_spec/2.0.0.Final/jboss-jsp-api_2.3_spec-2.0.0.Final.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-context-support/4.3.14.RELEASE/spring-context-support-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-orm/4.3.14.RELEASE/spring-orm-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/apache/taglibs/taglibs-standard-impl/1.2.6-RC1/taglibs-standard-impl-1.2.6-RC1.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/c-1_0-rt.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/c-1_1.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/c.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/fmt-1_0-rt.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/fmt.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/fn.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/permittedtaglibs.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/scriptfree.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/sql-1_0-rt.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/sql.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/x-1_0-rt.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-taglibs-standard-impl-1.2.6-RC1.jar/meta-inf/x.tld" project="spring-greeter"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-expression/4.3.14.RELEASE/spring-expression-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-tx/4.3.14.RELEASE/spring-tx-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-core/4.3.14.RELEASE/spring-core-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-webmvc/4.3.14.RELEASE/spring-webmvc-4.3.14.RELEASE.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-4.3.14.RELEASE.jar/meta-inf/spring-form.tld" project="spring-greeter"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-4.3.14.RELEASE.jar/meta-inf/spring.tld" project="spring-greeter"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/hp/.m2/repository/jakarta/persistence/jakarta.persistence-api/2.2.3/jakarta.persistence-api-2.2.3.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-jdbc/4.3.14.RELEASE/spring-jdbc-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-web/4.3.14.RELEASE/spring-web-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/commons-logging/commons-logging/1.2/commons-logging-1.2.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-beans/4.3.14.RELEASE/spring-beans-4.3.14.RELEASE.jar"/>
  <path value="C:/Users/hp/.m2/repository/org/springframework/spring-context/4.3.14.RELEASE/spring-context-4.3.14.RELEASE.jar"/>
 </paths>
 <validation>
  <el>
   <linked-el length="27" name="%0" offset="2378" path="%1"/>
   <linked-el length="12" name="%2" offset="1877" path="%3"/>
   <linked-el length="12" name="%2" offset="1454" path="%4"/>
   <linked-el length="19" name="%2" offset="1831" path="%3"/>
   <linked-el length="27" name="%5" offset="2378" path="%1"/>
   <linked-el length="30" name="%6" offset="1357" path="%4"/>
   <linked-el length="27" name="%7" offset="2378" path="%1"/>
  </el>
 </validation>
 <aliases>
  <alias path="version.spring.framework" value="%0"/>
  <alias path="/spring-greeter/pom.xml" value="%1"/>
  <alias path="message" value="%2"/>
  <alias path="/spring-greeter/src/main/webapp/WEB-INF/views/greet.jsp" value="%4"/>
  <alias path="version" value="%5"/>
  <alias path="/spring-greeter/src/main/webapp/WEB-INF/views/create.jsp" value="%3"/>
  <alias path="username" value="%6"/>
  <alias path="version.spring" value="%7"/>
 </aliases>
 <includes/>
 <uris>
  <uri value="http://java.sun.com/jsp/jstl/core">
   <prefix>c</prefix>
  </uri>
 </uris>
</kb-project>
